.form-session-container {
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-session-card {
  width: 50%;
  padding: 3rem;
  min-width: 650px;
  min-height: 390px;
}
